/*background et couleurs des textes sur l'ensemble du site */

body { 
    background-color: rgba(16, 16, 18, 1);
    color: white;
    font-family: 'El Messiri', sans-serif;
}

/* Transforme le modèle de boite par défaut pour inclure dans la largeur et la hauteur, les marges intérieures et les bordures. */

img {
    max-width: 100%;
    height: auto;
  }
  
  figure {
    margin: 0;
  }
  
  figcaption {
    font-size: var(--text-sm);
    color: var(--gray-600);
  }

.header {
    padding-left: var(--space3x);
    padding-right: var(--space3x);
}

*, *:before, *:after {
    box-sizing: border-box;
}

/* permet d'annuler la mise en forme des bouton qu'applique le navigateur. */
button {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

/* Classe générique permettant de définir les marges sur les cotés */
.header {
  padding-left: var(--space3x);
  padding-right: var(--space3x);
}

/* Menu */

button {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.noscroll,
.noscroll body {
overflow: hidden;
}

/* Index */


.TitreArticles {
  position: relative;
  top: 10px;
}
.LivreTexte {
  left: 170px;
  top: 890px;
  Font-size: 18px;
}


.FilmTexte {
  left: 190px;
  top: 1310px;
  font-size: 18px;

}

.FilmAchat {
  top: 1520px; 
  font-size: 18px;
}



.CitationLatin {
  left: 20px;
  top: 940px;
  font-size: 19px;
  color: #FFFFFF;
}

.SousPartie1 {
  font-weight: normal;
  font-weight: bold;
}

.Description1 {
  left: 145px;
  top: 1440px;
  font-size: 17px;
}


.Description2 {
  left: 215px;
  top: 2100px;
  font-size: 18px;

}

.TextHyperichose {
  left: 130px;
  top: 2560px;
  font-size: 18px;
}

.Description3 {
  top: 2700px;
  font-size: 15px;
}

/* À propos / Contact */

#Apropos {
  top: 680px;
 }


#Rectangle1 {
  width: 207px;
  height: 35px;
  left: 150px;
  top: 1000px;
  background: #D1DADD;
}


#Rectangle2 {
  width: 207px;
  height: 35px;
  left: 150px;
  top: 1131px;
  background: #D1DADD;
}

#Rectangle3 {
  left: 70px;
}

/* Images en tête des articles */

.accueil {
  background-image: url('../../../public/img/img_accueil.png');
  background-repeat: no-repeat;
}

main {
  margin-top: 500px;
}

.element {
  background-image: url('../../../public/img/img_element.webp');
  background-repeat: no-repeat;
}

main {
  margin-top: 500px;
}
  
.film {
  background-image: url('../../../public/img/img_film.webp');
  background-repeat: no-repeat;
}

main {
  margin-top: 500px;
}

.livre {
  background-image: url('../../../public/img/img_livre.png');
  background-repeat: no-repeat;
}

main {
  margin-top: 500px;
}

.Contact{
  background-image: url('../../../public/img/img_contact.png');
  background-repeat: no-repeat;
}

main {
  margin-top: 500px;
}

.AutresProjets{
  background-image: url('../../../public/img/img_autres_projets.png');
  background-repeat: no-repeat;
}

main {
  margin-top: 500px;
}

/* Pour annuler la mise en forme des listes */

ul{
  text-decoration: none;
  list-style-type: none;
  text-align: center;
}

.liste {
  margin-top: 800px
}

/* Marge */

.section {
  margin-left: 20px;
  top: 90px;
  margin-right: 60px;
  font-size: 19px;
}

/* Introduction */

.introduction {
  left: 20px;
  top: 580px;
  margin-right: 20px;
  font-family: El Messiri;
  font-size: 20px;
  color: #FFFFFF;
}

