/*background et couleurs des textes sur l'ensemble du site */

body { 
    background-color: rgba(16, 16, 18, 1);
    color: white;
    font-family: 'El Messiri', sans-serif;
}

/* permet d'annuler la mise en forme des bouton qu'applique le navigateur. */
button {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

/* Classe générique permettant de définir les marges sur les cotés */
.header {
  padding-left: var(--space3x);
  padding-right: var(--space3x);
}

/* Menu */

button {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.noscroll,
.noscroll body {
overflow: hidden;
}

/* Index */


.TitreArticles {
  position: relative;
  top: 10px;
}
.LivreTexte {
  left: 170px;
  top: 890px;
  Font-size: 18px;
}


.FilmTexte {
  left: 190px;
  top: 1310px;
  font-size: 18px;

}

.FilmAchat {
  top: 1520px; 
  font-size: 18px;
}


.CitationLatin {
  left: 20px;
  top: 940px;
  font-size: 19px;
  color: #FFFFFF;
}

.SousPartie1 {
  font-weight: normal;
  font-weight: bold;
}

/* Cacher les légendes */

.legend1 {
  left: 145px;
  top: 1440px;
  font-size: 17px;
}

.legend2 {
  left: 215px;
  top: 2100px;
  font-size: 18px;

}

.image img{
  width: 100%;
    z-index: 1;
    position: relative;
}

.image{
  position: relative;
  z-index: 0;
}
.visionneuse{
  width: 264px;
    height: 149px;
    padding: 1px;
    position: relative;
    overflow: hidden;
}
  .texte13 {
    position: relative;
    text-align: center;
    width: 100%;
    margin: 0px;
    padding: 0px;
    z-index: 2;
    line-height: 5em;
    color: black;
    background-color: rgba(255, 255, 255, 0.55);
    top: 0;
    display: none;
}

/* À propos / Contact */

#TitreApropos {
  margin-top: 660px;
}

/* Pour annuler la mise en forme des listes */

ul{
  text-decoration: none;
  list-style-type: none;
  text-align: center;
}

.liste {
  margin-top: 800px
}

/* Marge */

.section {
  margin-left: 20px;
  top: 90px;
  margin-right: 60px;
  font-size: 19px;
}

/* Mise en forme de l'introduction */

.introduction {
  left: 20px;
  top: 580px;
  margin-right: 20px;
  font-family: El Messiri;
  font-size: 20px;
  color: #FFFFFF;
}

/* carrousel */ 

.images155 {
  width: 6600px;
  height: 410px;
  left: 0; 
}

.image155 {
  position: absolute;
  top: 0;
  left: 0;
  width: 127px;
  height: 300px;
}

figcaption {
  background-color: #1B2222;
  color: white;
}

.carrousel5 {
  width: 127px;
  height: 300px;
  overflow: hidden;
  position: relative;
}
