/* position du footer */ 

.footer__container {
    width: 375px;
    height: 160px;
    position: absolute; 
    margin-top: 50px;

    }

#facebook {
    position: absolute;
    left: 60px;
    top: 90px;
}
#mail {
    position: absolute;
    left: 125px;
    top: 95px;
}
#twitter {
    position: absolute;
    left: 180px;
    top: 90px;
    width: 50px;
    height: 50px;
}
#mmi {
    position: absolute;
    left: 260px;
    top: 85px;
}
#informations {
    position: absolute;
    top: 5px;
    margin-left: 20px;
}

#nom {
    position: absolute;
    top: 10px;
    top: 43px;
    left: 40px;
    margin-left: 20px;
} 