/*   
Le fichier style.css aggrège l'ensemble du code css, 
découpé en différents fichiers correspondant à aux composants de l'interface
La règle @import permet d'importer ici tous les fichiers css utilisés.
  1. les polices via Google Font
  2. Les libraries (Vendors)
  3. Les variables (Utils)
  4. Les règles générales (Base)
  5. Les règles de composition (Layout)
  6. Les composant d'interface (Components)
*/

/* Code fourni par Google Font pour l'utilisation de ces polices de caractères */

@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@600;700&display=swap');

/* Vendors */
@import "vendors/normalize.css";

/* Utils */
@import "utils/variables.css";

/* Bases */
@import "bases/main.css";

/* Layout */
@import "layout/header.css";
@import "layout/footer.css";

/* Components */
@import "component/menu.css";
@import "component/hero.css";

