/* page d'acceuil */

#titre1 {
    position: absolute;
    top: 175px;
    left: 20px;
    z-index: 0;
}

#titre2 {
   position: absolute;
   top: 220px; 
   left: 120px;
}

#titre3 {
    position: absolute;
    top: 265px;
    left: 180px;
}

/* ligne sur la page d'accueil */

#ligne1 {
    position: absolute;
    width: 162px;
    height: 0px;
    left: 0px;
    top: 170px;
    
    border: 1px solid #FFFFFF;
}

#ligne2 {
    position: absolute;
    width: 162px;
    height: 0px;
    left: 213px;
    top: 356px;
    
    border: 1px solid #FFFFFF;
}

/* Lignes sur les pages secondaires */ 

.Ligne::before,
.Ligne::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 50%;
    background-color: #FFFFFF;
}
.Ligne::before {
    left: 0;
    top: 0;
}
.Ligne::after {
    right: 0;
    bottom: 0;
}

.Ligne {
    position: absolute;
    top: 225px; 
    left: 0;
    width: 100%;
    text-align: center;
}
  

 /* À propos / Contact */

 #TitreAproposContact {
    position: absolute;
    top: 205px; 
    left: 50px;
 }

